body {
  background-color: aquamarine;
  box-sizing: border-box;
  margin: 3%;
  padding: 3ch;

}
div{
  width: 133%;
  height: 133vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -33px;

}
 span{
   box-sizing: border-box;
   border: 23px black;
 

} 
h1{
  padding: 23px 23px;
  color:#cd85e9;
  background-color:#f8c4c4;
  border-radius: 23px;

}

