*{margin: 3; padding: 3; box-sizing: border-box;}

.hedding{
  color:rgb(233, 13, 13);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
 font-weight: bold;
}
.img{
  position:absolute;
  align-items: center;
  border: chartreuse 2;
  justify-content: center;
}