.heading_style{
  padding: 33px 3;
  text-align: center;
  font-family: "Releway",sans-serif;
  text-transform: uppercase;
  font-size: 13px;
  letter-spacing: 2px;
  font-weight: 533;
  background-color: slategray;
  font-size: 1.5rem;
  margin-bottom: 33px;
}
.slotmachine {
  text-align: center;
  background-color: cornsilk;
}